In [1]:
import pandas as pd
import seaborn as sns

In [2]:
mpg = sns.load_dataset("mpg")
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

## Normalization

In [3]:
mpg["horsepower"].describe()

count    392.000000
mean     104.469388
std       38.491160
min       46.000000
25%       75.000000
50%       93.500000
75%      126.000000
max      230.000000
Name: horsepower, dtype: float64

In [4]:
min_hp = mpg["horsepower"].min()
max_hp = mpg["horsepower"].max()
mpg["horsepower_normalized"] = (mpg["horsepower"] - min_hp) / (max_hp - min_hp)

In [5]:
mpg["horsepower_normalized"].describe()

count    392.000000
mean       0.317768
std        0.209191
min        0.000000
25%        0.157609
50%        0.258152
75%        0.434783
max        1.000000
Name: horsepower_normalized, dtype: float64

In [6]:
mpg["weight"].describe()

count     398.000000
mean     2970.424623
std       846.841774
min      1613.000000
25%      2223.750000
50%      2803.500000
75%      3608.000000
max      5140.000000
Name: weight, dtype: float64

In [7]:
min_weight = mpg["weight"].min()
max_weight = mpg["weight"].max()
mpg["weight_normalized"] = (mpg["weight"] - min_weight) / (max_weight - min_weight)

In [8]:
mpg["weight_normalized"].describe()

count    398.000000
mean       0.384867
std        0.240103
min        0.000000
25%        0.173164
50%        0.337539
75%        0.565637
max        1.000000
Name: weight_normalized, dtype: float64

## Standardization

In [9]:
mean_hp = mpg["horsepower"].mean()
hp_std = mpg["horsepower"].std()
mpg["horsepower_standardized"] = (mpg["horsepower"] - mean_hp) / hp_std

In [10]:
mpg["horsepower_standardized"].describe()

count    3.920000e+02
mean    -3.231542e-16
std      1.000000e+00
min     -1.519034e+00
25%     -7.656144e-01
50%     -2.849846e-01
75%      5.593651e-01
max      3.261284e+00
Name: horsepower_standardized, dtype: float64

In [11]:
mean_weight = mpg["weight"].mean()
weight_std = mpg["weight"].std()
mpg["weight_standardized"] = (mpg["weight"] - mean_weight) / weight_std

In [12]:
mpg["weight_standardized"].describe()

count    3.980000e+02
mean    -9.637740e-17
std      1.000000e+00
min     -1.602926e+00
25%     -8.817168e-01
50%     -1.971143e-01
75%      7.528861e-01
max      2.561961e+00
Name: weight_standardized, dtype: float64